[Unit]
Description=Inkscape
BindTo=graphical.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/snap enable inkscape
ExecStop=/usr/bin/snap disable inkscape

[Install]
WantedBy=graphical.target
