[Unit]
Description=Nextcloud
BindTo=graphical.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/snap enable nextcloud
ExecStop=/usr/bin/snap disable nextcloud
